.virtual-btn.b1b1 .go-down-1,
.virtual-btn.b1b2 .go-down-1{
  display: block;
  height:303px;
  width:484px;
  left:0px;
  top:0px;
}

.virtual-btn.b1b1 .go-down-2,
.virtual-btn.b1b2 .go-down-2{
  display: block;
  height:303px;
  width:484px;
  left:484px;
  top:0px;
}

.virtual-btn.b1b1 .go-down-3,
.virtual-btn.b1b2 .go-down-3{
  display: block;
  height:303px;
  width:484px;
  left:0px;
  top:303px;
}

.virtual-btn.b1b1 .go-down-4,
.virtual-btn.b1b2 .go-down-4{
  display: block;
  height:303px;
  width:524px;
  left:484px;
  top:303px;
}

/*-------------------------------------*/
/*-------------------------------------*/


.virtual-btn .go-up{
  height:80px;
  width:140px;
}

/*-------------------------------------*/

.virtual-btn.b1b1b1 .go-up,
.virtual-btn.b1b1b3 .go-up,
.virtual-btn.b1b1b3b1 .go-up,
.virtual-btn.b1b1b3b2 .go-up,
.virtual-btn.b1b1b3b3 .go-up,
.virtual-btn.b1b1b4 .go-up,
.virtual-btn.b1b2b1 .go-up,
.virtual-btn.b1b2b3 .go-up,
.virtual-btn.b1b2b3b1 .go-up,
.virtual-btn.b1b2b3b2 .go-up,
.virtual-btn.b1b2b3b3 .go-up,
.virtual-btn.b1b2b4 .go-up
{
  display: block;
  left: 820px;
  top: 510px;
}

.virtual-btn.b1b1b2 .go-up,
.virtual-btn.b1b2b2 .go-up
{
  display: block;
  left: 720px;
  top: 510px;
}

/*-------------------------------------*/
/*-------------------------------------*/

.virtual-btn.b1b1b3 .go-down-1,
.virtual-btn.b1b2b3 .go-down-1{
  display: block;
  height:280px;
  width:280px;
  left:30px;
  top:129px;
  border-radius: 50%;
}

.virtual-btn.b1b1b3 .go-down-2,
.virtual-btn.b1b2b3 .go-down-2{
  display: block;
  height:280px;
  width:280px;
  left:349px;
  top:129px;
  border-radius: 50%;
}

.virtual-btn.b1b1b3 .go-down-3,
.virtual-btn.b1b2b3 .go-down-3{
  display: block;
  height:280px;
  width:280px;
  left:657px;
  top:129px;
  border-radius: 50%;
}

/*-------------------------------------*/
/*-------------------------------------*/



.virtual-btn.b1 .go-up{
  display: none;
}
.virtual-btn.b1b1 .go-up{
  display: none;
  left: 0px;
}



.virtual-btn.b1 .go-down{
  display: block;
  left: 900px;
  top:530px;
  height:50px;
  width:50px;
  border-radius: 50%;
}








.pop-up-layer .fs-close-btn{
  z-index: 15;
  top: 30px;
  left: 750px;
  height:60px;
  width:60px;
  border-radius:50%;
  background-image: url('../../img/FSCloseBtn.png');
}

.misc-items .misc-close-btn{
  position:absolute;
  z-index: 0 ;
  top: 20px;
  left: 870px;
  height:60px;
  width:60px;
  border-radius:50%;
  background-image: url('../../img/FSCloseBtn.png');
}
