.misc-items.b1b1b1 .play-video,
.misc-items.b1b1b2 .play-video{
	display:block;
	/* Width:800; */
	Height:441;
	Left:87;
	Top:80;
	/* vertical-align:middle; */
}

.misc-items .misc-bg{
  position:absolute;
  width:962px;
  height:601px;
  z-index:0;
	top:0px;
	left:0px;
}
