<html>

<head>
    <script src="js/jquery-3.1.1.min.js"></script>
    <script src="app/js/action.js"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <!-- Start of angularjs -->
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" type="text/css" href="app/css/common.css"></link>
    <script src="img/imgConfig.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/angular-route.min.js"></script>
    <script src="js/angular-touch.min.js"></script>
    <!-- <script src="js/angular-PapaParse.min.js"></script> -->
    <script src="js/moment.min.js"></script>

    <script type="text/javascript" src="js/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="js/js.cookie.js"></script>
    <script type="text/javascript" src="js/robotutils.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/main.js"></script>

    <!--End of angularjs -->

</head>

<body style="margin:0px">
    <div id="DocReady">
        <div id="appScope" ng-app="myApp" ng-controller="myCtrl">
            <img ng-show="isTouchDisable" src="img/main/transparent.png" class="touch-disable">
            <!-- <button style="position: absolute; z-index: 3; left:100px" ng-click="goToSpecPopUp('p2')"> show </button>
        <button style="position: absolute; z-index: 3; left:200px" ng-click="popUpQnA('p1')"> Q n A </button>
        <button class="cooldown" style="position: absolute; z-index: 10; left:300px" ng-click="cancelSpecPopUp()">close</button> -->
            <!-- <div  class="mic-layer"> -->
            <img ng-show="isReocrding" class="mic-recording" src="img/recording.gif" alt="Recording..">
            <!-- </div> -->
            <div class="pop-up-layer">
                <div class="{{'virtual-btn '+pagePos}}">
                    <modal visible="showModal">
                        <img class="pop-up-img" ng-src="{{popUpImgSrc}}" />
                    </modal>
                    <fsmodal visible="showFSModal">
                        <img class="full-screen-pop-up-img" ng-src="{{popUpImgSrc}}" />
                        <!--button type="button" class="fs-close-btn" ng-click="cancelSpecPopUp('raiseEvent')"></button-->
                        <div class="layer-question">

                            <div ng-class="appLayout" ng-show="isDisplay">

                                <div class="appOption opt{{ $index + 1 }}" ng-style="getBGImage($index+1)" ng-switch="$index +1" ng-repeat="option in optionList" ng-click="selectOption(option)">

                                    <div class="box-text text-setting-1" ng-switch-when="1" unselectable="on" onselectstart="return false;" onmousedown="return false;">
                                        <!-- A -->
                                    </div>
                                    <div class="box-text text-setting-1" ng-switch-when="2" unselectable="on" onselectstart="return false;" onmousedown="return false;">
                                        <!-- B -->
                                    </div>
                                    <div class="box-text text-setting-1" ng-switch-when="3" unselectable="on" onselectstart="return false;" onmousedown="return false;">
                                        <!-- C -->
                                    </div>
                                    <div class="box-text text-setting-1" ng-switch-when="4" unselectable="on" onselectstart="return false;" onmousedown="return false;">
                                        <!-- D -->
                                    </div>
                                    <div class="box-text text-setting-2" unselectable="on" onselectstart="return false;" onmousedown="return false;"> <span class="vertical-align-text">{{option}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fsmodal>
                    <fsmodal visible="showQnAModal">
                        <img class="full-screen-pop-up-img" ng-src="{{popUpImgSrc}}" />
                    </fsmodal>
                </div>
            </div>
            <!-- <div class="debug-option-btn">
            <button style="position: absolute; z-index: 3; left:100px" ng-click="opt_show()"> show </button>
            <button style="position: absolute; z-index: 3; left:200px" ng-click="opt_hide()"> hide </button>
            <button style="position: absolute; z-index: 3; left:300px" ng-click="opt_update(['Y','N'])"> update2 </button>
            <button style="position: absolute; z-index: 3; left:400px" ng-click="opt_update(['a','b','c'])"> update3 </button>
            <button style="position: absolute; z-index: 3; left:500px" ng-click="opt_update(['t1','t2','t3','t4'])"> update4 </button>
        </div> -->


            <!-- <div class="{{'misc-items ' + pagePos}}">
                <img class="misc-bg" src="img/main/p1.png">
                <button class="misc-close-btn" ng-click="clickToStopVideo()"></button>
                <video id="videoPlayer1" poster="img/main.jpg" class="play-video" src="videos/special_2017-jctv_fullversion_1200kbps.mp4" autoplay="autoplay" preload="auto" controls="controls">
            </video>
                <video id="videoPlayer2" poster="img/main.jpg" class="play-video" src="videos/special_2017-racingtouch_20170306v3_1200kbps.mp4" autoplay="autoplay" preload="auto" controls="controls">
            </video>
            </div> -->

            <div class="{{'virtual-btn '+pagePos}}">
                <!--Start of Adding specific position -->
                <button class="go-spec-1" ng-click="goToSpecPos('b1b1b3b1')">go spec-1</button>
                <button class="go-spec-2" ng-click="goToSpecPos('p2')">go spec-2</button>
                <button class="go-spec-3" ng-click="goToSpecPos('p2')">go spec-3</button>
                <button class="go-spec-4" ng-click="goToSpecPos('p2')">go spec-4</button>
                <button class="go-spec-5" ng-click="goToSpecPos('p2')">go spec-5</button>
                <!-- you can add your specific button here -->
                <!--End of Adding specific position -->
                <button ng-click="clickToPlayVideo(pagePos)" class="go-play-video">play video btn</button>
                <button ng-click="goPopUp()" class="go-pop-up">pop up btn</button>
                <button ng-click="toggleFSModal('fs btn')" class="go-fs-pop-up">fs pop btn</button>
                <button class="go-home" ng-click="goHome()"> go home </button>
                <button class="go-up" ng-click="goToPos('up')"> go up </button>
                <button class="go-one-to-many-up" ng-click="goToPos('one-to-many-up')"> go otm up </button>
                <button class="go-down" ng-click="goToPos('down')"> go down </button>
                <button class="go-left" ng-click="goToPos('left')"> go left </button>
                <button class="go-right" ng-click="goToPos('right')"> go right </button>
                <button ng-repeat="x in numberList" ng-class="goDownClass( $index + 1)" ng-click="goToPos('down', $index + 1)"> go down {{$index + 1}} </button>
                <button ng-repeat="x in numberList" ng-class="goOneToManyDownClass( $index + 1)" ng-click="goToPos('one-to-many-down', $index + 1)"> go otm down {{$index + 1}} </button>
                <button ng-repeat="x in numberList" ng-class="goSiblingClass( $index + 1)" ng-click="goToPos('sibling', $index + 1)"> go down </button>
                <button ng-click="goToPos('sibling')"> go to the first </button>
            </div>
            <div class="bg-layer">
                <img class="bg-img" ng-src="{{imgSrc}}" />
            </div>
            <!--h1>App layout: {{appLayout}}</h1-->

        </div>
</body>
<!-- <script type="text/javascript" src="index.js"></script> -->
<script type="text/javascript">
var isDocReady = false;
var isOptionOnCD = false;
var isOptionReady = true;
var app = angular.module("myApp", []);
var N = 10;
var numberList = Array.apply(null, {
    length: N
}).map(Number.call, Number);
// session.subscribeToEvent("Teks/NewWorldLeasing/CallFunction", function(data) {
// 	console.log(data);
// })
$('button').click(function() {
    var btn = $(this);
    btn.prop('disabled', true);
    setTimeout(function() {
        btn.prop('disabled', false);
    }, 500);
});
app.controller("myCtrl", function($scope) {
    $scope.isReocrding = true;
    $scope.isTouchDisable = false;
    $scope.videoID = "";

    $(".play-video").prop('muted', true);
    $('.play-video').click(function() {
        console.log("toggling");
        if ($(this).hasClass('play')) {
            $(this).trigger("pause");
            $(this).removeClass('play');
            $(this).addClass('pause');
        } else {
            $(this).trigger("play");
            $(this).removeClass('pause');
            $(this).addClass('play');
        }
    })

    $scope.clickToPlayVideo = function(pos) {
        $scope.playVideo(pos);
        console.log("playing");
        session.raiseEvent("Teks/NewWorldLeasing/html_video", "play");
    }

    $scope.playVideo = function(pos) {
        console.log(pos);
        pos = typeof(pos) !== "undefined" ? pos : "b1";
        if (pos == "b1b1b1") {
            $scope.videoID = "videoPlayer1";
        } else if (pos == "b1b1b2") {
            $scope.videoID = "videoPlayer2";
        }
        console.log($scope.videoID);

        var $video = $("#" + $scope.videoID);
        $video.prop('currentTime', 0);
        loadedVideo = true;
        $video.prop('muted', false);
        $video.trigger("play");
        $video.removeClass('pause');
        $video.addClass('play');
        $video.css('z-index', 105);
        $(".misc-close-btn").css("z-index", 105);
        $(".misc-bg").css("z-index", 100);
        $video.css('opacity', 1);
    }

    $scope.clickToStopVideo = function() {
        $scope.stopVideo();
        console.log("stopping");
        session.raiseEvent("Teks/NewWorldLeasing/html_video", "stop");
    }

    $scope.stopVideo = function() {
        console.log("stop video");
        $(".misc-close-btn").css("z-index", 0);
        $(".misc-bg").css("z-index", 0);
        $(".play-video").prop("currentTime", 0);
        $(".play-video").css("z-index", 1);
        $(".play-video").css("opacity", 0);
        $(".play-video").trigger("pause");
        $(".play-video").removeClass('play');
        $(".play-video").addClass('pause');
    }

    $scope.getImgSrc = function(img) {
        var imgSrc = "img/main/" + imgConfig[img];
        console.log(imgSrc);
        return imgSrc
    }
    $scope.getBGImage = function(key) {
        var myObj;
        if (key == 1) {
            myObj = {
                "background-image": "url('img/menu_option1.png')"
            }
        } else if (key == 2) {
            myObj = {
                "background-image": "url('img/menu_option2.png')"
            }
        } else if (key == 3) {
            myObj = {
                "background-image": "url('img/menu_option3.png')"
            }
        } else if (key == 4) {
            myObj = {
                "background-image": "url('img/menu_option4.png')"
            }
        }
        
        return myObj
    }
    $scope.showModal = false;
    $scope.showFSModal = false;
    $scope.fSButtonClicked = "";
    $scope.toggleFSModal = function(btnClicked) {
        $scope.fSButtonClicked = btnClicked;
        $scope.showFSModal = !$scope.showFSModal;
    };
    $scope.isDisplay = false;
    $scope.appLayout = "option-bullet-2";
    // $scope.appLayout = "option-2x2-grid";
    $scope.pagePos = "b1";
    $scope.imgSrc = $scope.getImgSrc($scope.pagePos);
    $scope.isGif = false;
    $scope.gif_flow = 11;
    $scope.optionList = ["係", "唔係"];
    $scope.numberList = numberList;
    $scope.popUpImgSrc = $scope.getImgSrc($scope.pagePos + "p1");

    $scope.webStartRecord = function() {
        $scope.$apply(function() {
            $scope.isReocrding = true;
        })
    }

    $scope.webStopRecord = function() {
        $scope.$apply(function() {
            $scope.isReocrding = false;
        })
    }

    $scope.webDisableTouch = function() {
        $scope.$apply(function() {
            $scope.isTouchDisable = true;
        })
    }

    $scope.webEnableTouch = function() {
        $scope.$apply(function() {
            $scope.isTouchDisable = false;
        })
    }

    $scope.goDownClass = function(index) {
        return "go-down-" + index;
    }

    $scope.goOneToManyDownClass = function(index) {
        return "go-one-to-many-down-" + index;
    }

    $scope.goSiblingClass = function(index) {
        return "go-sibling-" + index;
    }

    $scope.goHome = function() {
        var curPos = $scope.pagePos;
        $scope.stopVideo();
        $scope.pagePos = "b1";
        $scope.imgSrc = $scope.getImgSrc($scope.pagePos);
        console.log(curPos + "goto" + "b1");
    }

    $scope.goToSpecPos = function(position) {
        var curPos = $scope.pagePos;
        $scope.stopVideo();

        $scope.pagePos = position;
        $scope.imgSrc = $scope.getImgSrc($scope.pagePos);
        $scope.loadPageImage(position);
        $scope.cancelSpecPopUp();
    }

    $scope.goPopUp = function(digit) {
        $scope.cancelSpecPopUp();
        digit = typeof digit !== 'undefined' ? digit : '1';
        var curPos = $scope.pagePos;
        var popUpImgPos = curPos + "p" + digit;
        $scope.popUpImgSrc = $scope.getImgSrc(popUpImgPos);
        console.log("pop" + popUpImgPos);
        $scope.showModal = true;
        $scope.$apply();
    }

    $scope.goToSpecPopUp = function(specImgPos, fullscreen) {
        $scope.stopVideo();
        $scope.cancelSpecPopUp();
        var curPos = $scope.pagePos;
        specImgPos = typeof specImgPos !== 'undefined' ? specImgPos : 'p1';
        fullscreen = typeof fullscreen !== 'undefined' ? fullscreen : 'false';
        $scope.popUpImgSrc = $scope.getImgSrc(specImgPos);

        if (fullscreen == "false") {
            $scope.showModal = true;
        } else if (fullscreen == "true") {
            $scope.showFSModal = true;
        }

        console.log("popping" + specImgPos);
        $scope.$apply();

    }

    $scope.cancelSpecPopUp = function(raiseData) {
        var curPos = $scope.pagePos;
        $scope.showModal = false;
        $scope.showFSModal = false;
        $scope.isDisplay = false;
        isOptionReady = true;
        if (raiseData == "raiseEvent") {
            session.raiseEvent("Teks/NewWorldLeasing/html_popCancel", "popCancel" + curPos);
            $scope.$apply();
        }
        console.log("popCancel");
    }

    $scope.popUpQnA = function(specImgPos) {
        $scope.cancelSpecPopUp();
        specImgPos = typeof specImgPos !== 'undefined' ? specImgPos : 'p1';
        $scope.popUpImgSrc = $scope.getImgSrc(specImgPos);
        $scope.showFSModal = true;
        $scope.isDisplay = true;
        $scope.$apply();
    }

    $scope.goToPos = function(direction, position) {
        $scope.stopVideo();
        //session.raiseEvent("Teks/NewWorldLeasing/html_video", "stop");
        direction = typeof direction !== 'undefined' ? direction : "down";
        position = typeof position !== 'undefined' ? position : '1';
        var digit;
        var newPos;
        var curPos = $scope.pagePos;
        direction = direction.toLowerCase();
        switch (direction) {
            case "up":
                var n = curPos.lastIndexOf("b");
                var imgbranch = curPos.substring(0, n);
                newPos = imgbranch;
                break;

            case "one-to-many-up":
                var n;
                var x;
                var imgbranch;
                n = curPos.lastIndexOf("b");
                imgbranch = curPos.substring(0, n);
                x = imgbranch.lastIndexOf("b");
                imgbranch = imgbranch.substring(0, x);
                newPos = imgbranch;
                break;

            case "down":
                newPos = curPos + "b" + position;
                break;

            case "one-to-many-down":
                newPos = curPos + "b" + position + "b1";
                break;

            case "left":
                var n = curPos.lastIndexOf("b");
                var imgbranch = curPos.substring(0, n);
                digit = parseInt(curPos.substring(n + 1, curPos.length)) - 1;
                if (digit <= 0)
                    return;
                newPos = imgbranch + "b" + digit;
                break;

            case "right":
                var n = curPos.lastIndexOf("b");
                var imgbranch = curPos.substring(0, n);
                digit = parseInt(curPos.substring(n + 1, curPos.length)) + 1;
                newPos = imgbranch + "b" + digit;
                break;

            case "sibling":
                var n = curPos.lastIndexOf("b");
                var imgbranch = curPos.substring(0, n);
                digit = position;
                newPos = imgbranch + "b" + digit;
                break;
        }
        $scope.loadPageImage(newPos, curPos);
    }

    $scope.loadPageImage = function(newPos, curPos) {
        newPos = typeof newPos !== 'undefined' ? newPos : 'b1';
        curPos = typeof curPos !== 'undefined' ? curPos : '';
        var imgLoader = new Image();

        imgLoader.onload = function() {
            $scope.$apply(function() {
                $scope.pagePos = newPos;
                $scope.imgSrc = $scope.getImgSrc(newPos);
                //session.raiseEvent("Teks/NewWorldLeasing/SayArbText", curPos+"goto" + newPos);
                session.raiseEvent("Teks/NewWorldLeasing/html_touch", curPos + "goto" + newPos);
                console.log(curPos + "goto" + newPos);
            });
        };
        imgLoader.onerror = function() {};
        imgLoader.src = $scope.getImgSrc(newPos);
    }
    //options layout
    $scope.opt_show = function() {
        $scope.$apply(function() {
            $scope.isDisplay = true;
        })
        isOptionReady = true;
    }

    $scope.opt_hide = function() {
        $scope.$apply(function() {
            $scope.isDisplay = false;
        })
        isOptionReady = true;
    }

    $scope.opt_update = function(optionList) {
        if (optionList) {
            switch (optionList.length) {
                case 2:
                    $scope.appLayout = "option-bullet-2";
                    console.log("switched to bullet-2 layout");
                    break;
                case 3:
                    $scope.appLayout = "option-bullet-3";
                    console.log("switched to bullet-3 layout");
                    break;
                case 4:
                    $scope.appLayout = "option-2x2-grid";
                    console.log("switched to 2x2-grid layout");
                    break;
            }
            $scope.optionList = optionList;
        }
    }

    $scope.selectOption = function(selectedOption) {
        // console.log(selectedOption);
        // session.raiseEvent("Teks/NewWorldLeasing/SayArbText", selectedOption);
        if (!isOptionOnCD) {
            // console.log("isOptionOnCD");
            if (isOptionReady) {
                isOptionReady = false;
                console.log(selectedOption);
                //session.raiseEvent("Teks/NewWorldLeasing/SayArbText", selectedOption);
                session.raiseEvent("Teks/NewWorldLeasing/html", selectedOption);
            }
            isOptionOnCD = true;
            setTimeout(function() {
                isOptionOnCD = false;
            }, 1000);
        }

    }

    $scope.test = function(param1) {
        console.log(param1);
    }
    $scope.test1 = function(param1) {

    }
    $scope.webPopOptions = function(option) {
        //eng
        var splitedOption = option.split(",");
        console.log(splitedOption);
        $scope.opt_update(splitedOption);
        //setTimeout(function() {
        $scope.opt_show();
        $scope.popUpQnA('p1');
        // $scope.$apply();
    }
    $scope.test3 = function(option) {
        var splitedOption = option.split(",");
        console.log(splitedOption);
        $scope.opt_update(splitedOption);
        //setTimeout(function() {
        $scope.opt_show();
        $scope.popUpQnA('p1');
        $scope.$apply();
    }
    $scope.test4 = function(param1) {

    }
    $scope.test5 = function(param1) {

    }

    session.subscribeToEvent("Teks/NewWorldLeasing/CallFunction", function(data) {
        console.log("testing");
        if (data) {
            var splitedData = data.split("|");
            var func = splitedData[0];

            if (splitedData.length == 1) {
                eval("$scope." + func + "()");
            } else if (splitedData.length == 2) {
                var param1 = splitedData[1];
                eval("$scope." + func + "(" + param1 + ")");
            } else if (splitedData.length == 3) {
                var param2 = splitedData[2];
                eval("$scope." + func + "(" + param1 + ", " + param2 + ")");
            }
        }
    })

    session.subscribeToEvent("Teks/NewWorldLeasing/ShowQuestionContent", function(data) {
        $scope.opt_hide();
        $scope.$apply(function() {
            $scope.isGif = false;
        });
    });
});

$(document).ready(function() {
    isDocReady = true;
    session.raiseEvent("Teks/NewWorldLeasing/Test1", "1");
    setTimeout(function() {
        document.getElementById("DocReady").style.visibility = "visible";
    }, 100);
});
app.directive('modal', function() {
    return {
        template: '<div class="modal fade">' +
            '<div class="modal-dialog pop-up-dialog">' +
            '<button type="button" class="pop-up-btn" data-dismiss="modal" aria-hidden="true">close</button>' +
            '<div class="pop-up-img-body" ng-transclude></div>' +
            '</div>' +
            '</div>',
        restrict: 'E',
        transclude: true,
        replace: true,
        scope: true,
        link: function postLink(scope, element, attrs) {
            scope.$watch(attrs.visible, function(value) {
                if (value == true)
                    $(element).modal('show');
                else
                    $(element).modal('hide');
            });

            $(element).on('shown.bs.modal', function() {
                scope.$apply(function() {
                    scope.$parent[attrs.visible] = true;
                });
            });

            $(element).on('hidden.bs.modal', function() {
                scope.$apply(function() {
                    scope.$parent[attrs.visible] = false;
                });
            });
        }
    };
});
app.directive('fsmodal', function() {
    return {
        template: '<div class="modal fade">' +
            '<div class="modal-dialog full-screen-pop-up-dialog">' +
            '<div class="full-screen-pop-up-img-body" ng-transclude></div>' +
            '</div>' +
            '</div>',
        restrict: 'E',
        transclude: true,
        replace: true,
        scope: true,
        link: function postLink(scope, element, attrs) {
            scope.$watch(attrs.visible, function(value) {
                if (value == true)
                    $(element).modal('show');
                else
                    $(element).modal('hide');
            });

            $(element).on('shown.bs.modal', function() {
                scope.$apply(function() {
                    scope.$parent[attrs.visible] = true;
                });
            });

            $(element).on('hidden.bs.modal', function() {
                scope.$apply(function() {
                    scope.$parent[attrs.visible] = false;
                });
            });
        }
    };
});

</script>

</html>
